
.bck-white {
    background-color: $whiteColor!important;
}
.section-heading {
    margin-top:2em;
    @include breakpoints (768px) {
        margin-bottom: 3em;
    }
}
.about,
.spa,
.restaurant,
.advantages {
    // margin-top: $marginV;
    padding: 40px 0;
    button {
        border: 1px solid $borderColor!important;
    }
    h3 {text-align: center}
    .text-card {
        @include flex (center, flex-start, column);
        flex: 0 0 48%;
        @include breakpoints (768px) {
            flex: 0 0 100%;
        }
        padding-left: 3em;
        h4 {
            margin-top: $marginV;
        }
        .text-card-p {
            margin: $marginV 0;
        }
    }
    .img-card {
        .booking-footer {
            @include flex (space-evenly, center, column);
            padding: 10px;
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
            @include positioning (relative, -190px, 0, 0, 54%, 7.2em, 7.2em);
            @include breakpoints (576px) {
                @include positioning (relative, -280px, 0, 0, 60%, 7.2em, 7.2em); 
            }
            p {
                font-size: .6rem;
            }
            span {
                font-size: 1.8rem;
            } 
        }
        .spa-footer,
        .hotel-footer,
        .restaurant-footer {
            @include positioning (relative, -80px, 0, 0, 0%, 50%, 80px);
            @include flex (space-evenly, center);
            background-color: transparent;
        }
        .spa-star {
            border-radius: 50%;
            background: linear-gradient(#7F95AE, #E5E9EF);
            color: $primarycolor;
            width: 2rem;
            height: 2rem;
            padding: 5px;
            text-align: center;
        }
        .hotel-footer> .radio {
            background: $primarycolor!important;
            color: $tertiaryColor;
        }
        #restaurant-tile {
            background: rgba($primarycolor, .9);
        }

    }

    .advantages-card{
        align-items: center;
        .img {
            @include flex (center, center);
            padding: 2em 0 8em ;
        }
        img {
            width: 90%;
            border-radius: 15px;
        }
        .text-card {
            position: relative;
            top: -22em;
            padding: 5px;
            .icon {
                background-color: $whiteColor;
                color: $primaryTextColor;
            }
        }
        p {
            margin: 10px 0!important;
        }
        h5 {
            margin-top: 5em;
            @include breakpointsMin(1024px) {margin-top: 7em}
        }
    }
    .advantages-wrapper {
        @include flex (flex-start, flex-start, column, wrap, 20px);
        flex: 0 0 48%;
        @include breakpoints (768px) {
            flex: 0 0 100%;
        }
        position: relative;
        top: -5em;
        > div {
            @include flex (space-between, center,  row, nowrap, 5px);
            &:first-child {
                justify-content: center;
                gap: 2em;
                box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
                border-radius: 30px;
                width: 100%;
                padding: 10px;
            }
        }
        article {
            flex: 0 0 48%;
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 20px;
            height: calc(17em - 5px);
            &:first-child {background-color: #EDF1F5;}
        }
        h5 {margin: 2em 0;}
    } 
}