.rooms,
.blog {
    .section-headings {
        @include flex (center, center,row, wrap, 3em);
    }
    .img-card {z-index: unset;}
    .text-card-footer {
        padding: 1em;
        top: 2em;
    }
    h3 {text-align: center;}
}
.testimonials {
    .img-card {
        z-index: unset;
        .img {
            margin: 0; &:last-child  {color: rgba(#7F95AE, .4);}
            > div {
                @include flex (space-evenly, center)
            }
        }
        img {
            width: 5em;
            border-radius: 50%;
            height: 5em;
            padding: 10px;
        }
        i {
            color: rgba(#7F95AE, .8);
        }
    }
    .text-card-footer {
        position: initial;
    }
    h5,
    h4 {text-align: center;}
    .icon {
        padding-left: 80%;
        border: none;
    }
}
.nav-button {
    font-size: 2rem!important;
}
.owl-nav {
    position: relative;
    top: -29em;
    display: flex;
    justify-content: space-between;
    margin: 0 -.5em;
    z-index: -1;
    .owl-next,
    .owl-prev {
        color: $primaryTextColor;
        border-radius: 50%;
    }
}
.owl-stage-outer {    padding: 0 0px 100px;}
.container {
    width: 80%;
    margin: 0 auto;
    @include breakpoints (768px) {width: 92%}
}