$primaryTextColor: #333333;
$backgrundColor: #F2F2F2;
$borderColor: #D8D8D8;
$primarycolor: #2C4664;
$secondaryColor: #3F5E82;
$tertiaryColor: #C8FF8C;
$blackColor: #000;
$whiteColor: #fff;
$fontFamily: 'Nunito Sans', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;
$fontSize: 18px;
$fontSmall: 14px;
$fontBig: 20px;
$marginleft: 2.9em;
$marginV: 40px;