/*----------------------------------------
EXTERNAL FILES
----------------------------------------*/
/*----------------------------------------
PARTIALS
----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
:root {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  transition: all 0.4s linear;
}

body {
  font-size: 100%;
  background-color: #F2F2F2;
}

img {
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #fff;
}
a:hover, a:active {
  color: #C8FF8C;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  color: #333333;
  text-transform: capitalize;
}

h1 {
  font-size: 4rem;
  line-height: 80px;
  font-weight: 200;
}

h2 {
  font-size: 3.1rem;
  line-height: 56px;
  font-weight: 200;
}

h3 {
  font-size: 2.2rem;
  line-height: 48px;
  font-weight: 200;
}

h4 {
  font-size: 2rem;
  line-height: 1.3rem;
  font-weight: 300;
}

.btn {
  border-radius: 15px;
  padding: 8px 15px;
  text-transform: uppercase;
  background-color: #C8FF8C;
  color: #000;
}

header {
  height: 100vh;
}
header img {
  position: absolute;
  z-index: -999;
}
header h1,
header p,
header h4 {
  color: #F2F2F2;
}
header .logo {
  text-transform: uppercase;
  font-size: 2.2rem;
}
header nav {
  height: 10vh;
  padding: 3.1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
}
header nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}
header .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}
header .social a {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  width: 2em;
  height: 2em;
}
header .hero {
  width: 32%;
  margin-top: 5em;
  margin-left: 2.9em;
}
header .hero p {
  margin-left: 1.2em;
  font-size: 1.2rem;
}
header .search {
  border-radius: 15px;
  width: 80%;
  background-color: #2C4664;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  margin: 0 auto;
  color: #F2F2F2;
}
header .search > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  flex: 0 1 20%;
  position: relative;
  padding: 2.2em 1em;
}
header .search > div::after {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 1.5px;
}
header .search > div button {
  margin: o auto;
}